header{
    padding:20px;

}
footer{
    padding:20px
}
.news-card{
    background-color: lightgrey;
     width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;

}
img{
    max-width: 300px;
    max-height: 300px;
    margin:auto;
    display: block;
    text-align: center;
}
.root{
    display: grid;

}
div.root:hover {
   border: 1px solid #777;
}
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }