.parent{
    background-color:aqua;
    display: flex;

}
.child{
    border: 2px solid black;
    padding: 10px;
    background-color: red;

}
.Parent1{
    justify-content: space-between;
}
.Parent2{
    justify-content: space-evenly;
}
.Parent3{
    justify-content: space-around;

}
.Parent4{
    justify-content: flex-end;
}
