
    
.parent{
   
     margin:0px 20px 16px;
     padding: 16px;
       border: 1px solid black;
       width: 80px;
       box-sizing: border-box;
       margin: 0 0  auto 0 ;
}
.heading{
    margin: 16px;
    padding:16px;
    border: 1px solid black;
    
}
.img{
    background-color: blue;
}
.Parent{
    font-size: 32px;
    background-color: azure;
    
}
.child{
    font-size: 2em;
    background-color: aquamarine;
}
.btn{
    display: block;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin:0 auto;
    font-size: 16px;
    width: 120px;
}
.btn-small{
    display: block;
    padding: 6px;
    margin: 10  auto;
    border-radius: 10px;
    border: none;
    background-color: blueviolet;
    color: white;
    width: 100px;
    margin-top: 10px;
}
body{
   
    padding: 10px 32px;
    height: 100vh;
    width: 100vw;
}


.pp{
    
    height:100px;
    padding: 16px;


}
.ch{
    height: 50vh;
    background-color:green;
    min-height: 200px;
    padding: 16px 32px;
    overflow: scroll;
    width: 25%;

}
.pp{
    ol{
        background-color: blueviolet;
    }
    ul:first-child{
        background-color: pink;

        
    }
    ul:last-child{
       background-color: greenyellow;
       li:nth-child(2){
        background-color: brown;
       }

    }
  

}

